.row:after
{
    display: table;
    content: '';
    clear: both;
}
.column
{
    float: left;
    width: 50%;
    margin-top: $xl-size;
    text-align: center;
}
.landingPageMovie
{
    width: 35rem;
    height: 45rem;
}