.row:after
{
    display: table;
    content: '';
    clear: both;
}
.landingPage-header
{
    font-size: $l-size;
}
.landingPage-description
{
    margin-top: $l-size;
    font-size: $m-size;
}
.leftColumn
{
    float: left;
    width: 50%;
    margin-top: $xl-size;
    text-align: center;
    font-size: $l-size;
    padding-left: 10%;
}
.rightColumn
{
    float: right;
    width: 50%;
    margin-top: $xl-size;
    text-align: center;
    font-size: $l-size;
}
.button-container
{
    display: flex;
    flex-direction: column;
}
.button
{
    margin-top: $l-size;
    width: 50%;
}
.landingPageMovie
{
    width: 35rem;
    height: 45rem;
}