.login-header
{
    margin-top: $m-size;
    text-align: center;
}
.form
{
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.login-buttons-container
{
    margin-top: $xl-size;
    display: flex;
    justify-content: space-between;
}
.form-group
{
    font-size: $m-size;
}
.btn.btn-primary
{
    font-size: $m-size;
}