.login-container
{
    text-align: center;
}
.login-submit-button
{
    margin-top: $s-size;
}
.login-back-button
{
    margin-top: $m-size;
}
.submit-bar
{
    display: flex;
    justify-content: space-between;
    padding: 0rem 50rem 0rem 50rem;   
}