@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');
*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	background-color: #e6e6e6;
    margin-top: 5rem;
    
}

@media (max-width: 770) {
	.collapse-menu {
		display: flex;
		box-sizing: border-box;
	}
	body {
		padding-top: 100px;
	}
}
